 module.exports = {
   colorkwest: {
     output: {
       mode: 'tags-split',
       target: 'src/generated/api',
       schemas: 'src/generated/dto',
       client: 'swr',
       mock: false,
       override: {
         mutator: {
           path: './src/mutator/mutate.ts',
           name: 'mutate',
         },
       },
     },
     input: {
       target: './../../openapi.json',
     },
   },
 };
